{% extends 'base.html' %}

        {% block heading %}
        <div class="post-heading">
          <h1 class="h1 text-body-danger">{{code}}</h1>
          <h2 class="subheading">{{name}}</h2>
          <span class="meta">
            Error occurred: {{time}}
          </span>
        </div>
{% endblock %}
{% block content %}
        <article class="mb-4">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <h2 class="section-heading text-center">{{error}}</h2>
                      <br>
                    </div>
                </div>
            </div>
        </article>

{% endblock %}
