{% extends 'base.html' %}

{% block title %}
    {{code}} error
{% endblock %}

{% block content %}
    <div class="d-flex justify-content-center align-items-center text-center flex-grow-1 full-height">
      <figure class="p-5">
        <blockquote class="blockquote">
          <p>{{error}}</p>
        </blockquote>
        <figcaption class="blockquote-footer" id="time">
        </figcaption>
      </figure>
    </div>
{% endblock %}

{% block scripts %}
    <script>
        window.onload = function () {
            SetTime();
        };

        function SetTime() {
            let now = new Date();
            let timeString = now.getFullYear() + '-' +
                             ('0' + (now.getMonth() + 1)).slice(-2) + '-' +
                             ('0' + now.getDate()).slice(-2) + ' ' +
                             ('0' + now.getHours()).slice(-2) + ':' +
                             ('0' + now.getMinutes()).slice(-2) + ':' +
                             ('0' + now.getSeconds()).slice(-2);
            document.getElementById('time').innerHTML = '  ' + timeString;
        }
    </script>
{% endblock %}
