{% extends 'base.html' %}

{% block title %}
Home
{% endblock %}

{% block content %}
<div class="container py-4">
    <header class="pb-3 mb-4 border-bottom">
      <a href="/" class="d-flex align-items-center text-dark text-decoration-none">
        <i class="bi bi-basket2 text-dark p-1" style="font-size: 2rem;"></i>
        <span class="fs-4">Food website!</span>
      </a>
    </header>

    <div class="p-5 mb-4 bg-light rounded-3">
      <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold">search for recipes</h1>
        <p class="col-md-8 fs-4">Search catalogue of 100+ recipes to find the perfect one</p>
        <a class="btn btn-primary btn-lg" href="/search/recipes">recipes</a>
      </div>
    </div>

    <div class="row align-items-md-stretch">
      <div class="col-md-6">
        <div class="h-100 p-5 text-white bg-dark rounded-3">
          <h2>Find resturant chains and their menus</h2>
          <p>Find menus and food from some of the biggest resturant chains.</p>
          <a class="btn btn-primary btn-lg" href="/search/ingredients">ingredients</a>
        </div>
      </div>
      <div class="col-md-6">
        <div class="h-100 p-5 bg-light border rounded-3">
          <h2>Create meal plans</h2>
          <p>Create meal plans for the week with easy to follow recipes</p>
          <a class="btn btn-primary btn-lg" href="/search/resturants">resturants</a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

