/* General Styles */
body {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}


/* Hero Section */
.heading {
    position: relative;
    background-size: cover;
    background-position: center;
    text-align: center;
    width: 100%;
    overflow: hidden;
}





a {
    color: #007bff; /* Link color */
    text-decoration: none; /* Remove underline */
    padding: 5px 10px; /* Add padding */
    border-radius: 5px; /* Rounded corners */
    transition: background-color 0.3s ease; /* Smooth transition */
}

a:hover {
    background-color: rgba(0, 123, 255, 0.1); /* Light background on hover */
    text-decoration: underline; /* Underline on hover */
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4); /* Semi-transparent overlay */
    z-index: 1; /* Place overlay below the heading */
}

.navbar {
    z-index: 2; /* Ensure navbar is above the overlay */
}

.text-light {
    position: relative; /* Ensure text is above the overlay */
    z-index: 2; /* Place text above the overlay */
}

.card-img-top {
    height: 12rem;
    object-fit: cover;
    width: 100%;
  }
