.full-height {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
#icon {
    font-size: 2rem;
    color: blue;
}
.album .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; /* Space out cards */
}
.col {
    flex: 1 0 21%; /* Flex-grow, flex-shrink, flex-basis */
    margin: 10px; /* Space between cards */
}

.card {
    max-width: none;
    height: 40rem;
    display: flex; /* Enable flexbox for content */
    flex-direction: column; /* Arrange children vertically */
    justify-content: space-between; /* Space out elements */
}
.card-text {
    height: 15rem;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    margin-top: 0.5rem;
    word-wrap: break-word;
}
.card-title {
    height: 3rem;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    margin-top: 0.5rem;
    word-wrap: break-word;
}
.card-img-wrapper {
    width: 95%;
    height: 10rem;
    overflow: hidden;
}
.card-img-top {
    width: 100%;
    height: auto;
    object-fit: cover;
}


