<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Travel. - {{page_title}}</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-..." crossorigin="anonymous">
        <link href="{{url_for('static', filename='css/styles.css')}}" rel="stylesheet">
        <!--FONTS-->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/themes/prism.min.css"> <!-- This is the default theme -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/prism.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/plugins/autoloader/prism-autoloader.min.js"></script>

    </head>
    <body>
    <div class="heading" style="background-image: url('{{heading_image}}')">
        <div class="overlay"></div>
        <nav class="navbar navbar-expand-lg navbar-dark overlay-heading">
            <div class="container-fluid">
                <a class="navbar-brand fw-bold" href="/">Travel.</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item">
                            <a class="nav-link fw-bold text-white" href="/">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link fw-bold text-white" href="/search">Search</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link fw-bold text-white" href="/about">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link fw-bold text-white" href="/contact">Contact</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="text-light px-4 py-5 text-center">
            <div class="py-5">
            {% block heading %}
                {% endblock %}
            </div>
        </div>
    </div>

{% block content %}
{% endblock %}
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
            <div class="toast-container position-fixed bottom-0 end-0 p-3">
            <div class="toast" role="alert" aria-live="assertive" aria-atomic="true">
              <div class="toast-header">
                <strong class="me-auto">{{category}}</strong>
                <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
              </div>
              <div class="toast-body">
                {{message}}
              </div>
            </div>
          </div>
            {% endfor %}
        {% endif %}
    {% endwith %}

    <div class="dropdown position-fixed bottom-0 end-0 m-3 bd-mode-toggle">
        <button class="btn btn-bd-primary py-1 dropdown-toggle d-flex align-items-center" type="button" aria-expanded="false" data-bs-toggle="dropdown" aria-label="toggle theme">
            <i class="bi bi-highlights"></i>
        </button>
        <ul class="dropdown-menu dropdown-menu-end shadow">
            <li>
                <button class="dropdown-item d-flex align-items-center" type="button" id="btn-light-bs-theme">
                    <i class="bi bi-lightbulb-fill"></i>
                    Light
                </button>
            </li>
            <li>
                <button class="dropdown-item d-flex align-items-center" type="button" id="btn-dark-bs-theme">
                    <i class="bi bi-lightbulb"></i>
                    Dark
                </button>
            </li>
            <li>
                <button class="dropdown-item d-flex align-items-center" type="button" id="btn-auto-bs-theme">
                    <i class="bi bi-highlights"></i>
                    Auto
                </button>
            </li>
        </ul>
    </div>

    <footer class="text-center bg-body">
      <div class="container pt-4">
        <section class="mb-4">
          <a class="btn btn-link btn-lg m-1 f-icon" href="https://facebook.com" role="button">
            <i class="bi bi-facebook"></i>
          </a>
          <a class="btn btn-link btn-lg m-1 f-icon" href="https://x.com" role="button">
            <i class="bi bi-twitter"></i>
          </a>
          <a class="btn btn-link btn-lg m-1 f-icon" href="https://instagram.com" role="button">
            <i class="bi bi-instagram"></i>
          </a>
          <a class="btn btn-link btn-lg m-1 f-icon" href="https://linkedin.com" role="button">
            <i class="bi bi-linkedin"></i>
          </a>
          <a class="btn btn-link btn-lg m-1 f-icon" href="https://github.com/coder-72/CS50-final-project" role="button">
            <i class="bi bi-github"></i>
          </a>
        </section>
      </div>
        <hr>
      <div class="text-center p-3 bg-body">
        © 2024 Copyright:
        <a class="text-dark" href="#">Travel.com</a>
      </div>
    </footer>

    {% block scripts %}
    {% endblock %}
    <script>
        let session_theme = {{ session.get("mode", "auto")|tojson }};
        let set_mode_endpoint = {{ url_for("api.mode")|tojson }};
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="{{url_for('static', filename='js/theme.js')}}"></script>
    <script>
        $(document).ready(
        function(){
                Prism.highlightAll();
        }
        );
    </script>
    <script>
        $(document).ready(function() {
    let toasts = $('.toast');
    toasts.each(function() {
        let toast = new bootstrap.Toast(this);
        toast.show();
    });
});
</script>
</body>
</html>
